language: elixir
elixir:
  - 1.6.6
  - 1.7.1
otp_release:
  - 20.3.8
  - 21.0.8

cache:
  directories:
    - _build
    - example/_build
    - deps

before_script:
  - mix deps.get
  - (cd example && mix deps.get)
  - MIX_ENV=test mix compile --warnings-as-errors
  - (cd example && MIX_ENV=test mix dialyzer --plt)
  - MIX_ENV=test mix dialyzer --plt

script:
  - MIX_ENV=test mix dialyzer --halt-exit-status
  - mix test
